body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a5b1c2;
    color: #fff;
}

.container{
    background-color: #1e272e;
    padding: 30px;
    border-radius: 15px ;
    box-shadow: 20px 35px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: rgba(71, 147, 157, 0.933);
}

label{
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
    color: #fff;
}

input[type="date"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #485460;
    color: #eee;
}

input:focus{
    border: 1px solid rgba(71, 147, 157, 0.933);
    outline: none;
}

button{
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background:rgba(71, 147, 157, 0.933);
    color: #1e272e;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-bottom: 30px;
}

button:hover{
    background: rgba(71, 147, 157, 0.933);
    box-shadow: 0 0 15px rgba(88, 180, 192, 0.933), 0 0 30px rgba(109, 222, 236, 0.933);
    transform: scale(1.05);
}

#result{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}